* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-align:center;
  font-family: 'Press Start 2P', cursive;
}

body{
  position:relative;
  height: 100vh;
  background:url('../Images/background.jpg');
  background-size: 1920 auto;
  background-position: left bottom;
}

header{
  justify-content: space-between;
  align-items: center;
  display:flex;
  padding: 3px 0;
  background: gray;
}

header #logoContainer{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

header div{
  margin: 5px 10px;
  position:relative;
}

header p{
  color: rgb(255,220,201);
  background: rgb(222, 89, 24);
  padding:5px 2px;
}

header #music:hover > p{
  color:black;
  cursor:pointer;
}

header #settings ul{
  visibility: hidden;
  list-style-type: none;
  position: absolute;
  width:100%;
  z-index:3;
}

header #settings ul li{
  border:1px solid black;
  background: rgb(222, 89, 24);
  color: rgb(255,220,201);
  padding:8px 8px;
  cursor:pointer;
}

header #settings ul li:hover{
  color: black;
}

header #settings:hover > ul{
  visibility: visible;
}

header img{
  margin-left:10px;
  width:100px;
}

#settings ul .selected{
  color:black;
  background:rgb(255,220,201);
}

#game-status{
  margin: 0 auto;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  min-width:600px;
  width:35vw;
  margin-top:15px;

}

#game-status div{
  display:flex;
  justify-content: center;
  align-items:center;
  color:white;
}

.reset{
  padding:2px;
}

.reset:hover{
  background:black;
  cursor:pointer;
}

#game-grid{
  position:relative;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  border: 2px solid black;
}

.square{
  display:flex;
  justify-content: center;
  align-items:center;
}

.closed{
  background: url("../Images/QuestionBox.jpg");
  background-size:contain;
}

.closed:hover{
  background: url("../Images/HighlightedQuestionBox.jpg");
  background-size:contain;
}

.mineExposed{
  background: url("../Images/EmptyBoxExplode.jpg");
  background-size:contain;
}

.open{
  position:relative;
  background: url("../Images/EmptyBox.jpg");
  background-size:contain;
  animation-name: opened;
  animation-duration: .1s;
}

footer{
  background:gray;
  position:absolute;
  bottom:0px;
  padding:3px;
}

@keyframes opened {
  0% {top:0px;}
  25% {top: -3px;}
  50% {top:-6px;}
  75% {top:-3px;}
  100% {top:0px}
}

#popup{
  position: absolute;
  top:0;
  left:0;
  background: black;
  color: white;
  border:1px solid black;
  font-size:30px;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

#popup p{
  margin-bottom:20px;
  z-index: 1;
}

#mario{
  position:absolute;
  z-index:0;
  top:40%;
  left:-100px;
  width:100px;
  height:100px;
  background:url("../Images/small-mario.jpg");
  background-repeat:no-repeat;
  background-position:center;
  animation-name: running, movement;
  animation-duration: .3s, 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite, infinite;
  animation-fill-mode: forwards;
}

@keyframes running{
  0% {background:url("../Images/small-mario-running1.jpg");
  background-repeat:no-repeat;
  background-position:center;}
  50% {background:url("../Images/small-mario-running2.jpg");
  background-repeat:no-repeat;
  background-position:center;}
  100% {background:url("../Images/small-mario-running1.jpg");
  background-repeat:no-repeat;
  background-position:center;}
}

@keyframes movement{
  0%{
    left:-100px
  }
  100%{
    left:calc(100% - 4px)
  }
}

#mario-falling{
  z-index:0;
  position:absolute;
  background:url("../Images/small-mario-dying.jpg");
  background-repeat: no-repeat;
  width:50px;
  height:50px;
  top:-60px;
  animation-name: falling;
  animation-duration:1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling{
  0%{top:-60px;}
  100%{top:100%;}
}

@media only screen and (max-width: 780px){
  header{
    flex-direction: column;
  }

  header img{
    width: 80px;
  }

  header h1{
    font-size:20px;
  }

  #settings{
    order:3;
  }

  #game-status{
    min-width:300px;
    margin-top:5px;
    flex-direction:column;
    padding:0px;
  }

  #game-status div{
    margin:5px;
  }

  .square{
    font-size:10px;
  }
}