* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-align:center;
  font-family: 'Press Start 2P', cursive;
}

body{
  height: 100vh;
  background:url('../Images/background.jpg');
  background-size: contain;
}

header{
  justify-content: center;
  align-items: center;
  display:flex;
  padding: 10px 0;
  background:gray;
  position:relative;
}

header img{
  margin-left:10px;
  width:100px;
}

audio{
  position:absolute;
  right:10px;
}

#game-status{
  margin: 0 auto;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  min-width:500px;
  width:35vw;
  margin-top:30px;

}

#game-status div{
  display:flex;
  justify-content: center;
  align-items:center;
  color:white;
}

#reset{
  padding:2px;
}

#reset:hover{
  background:black;
  cursor:pointer;
}


#game-grid{
  position:relative;
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  width:724px;
  height:564px;
  border: 2px solid black;
}

.square{
  display:flex;
  justify-content: center;
  align-items:center;
  height:40px;
  width:40px;
}

.closed{
  background: url("../Images/QuestionBox.jpg");
  background-size:contain;
}

.closed:hover{
  background: url("../Images/HighlightedQuestionBox.jpg");
  background-size:contain;
}

.mineExposed{
  background: url("../Images/EmptyBoxExplode.jpg");
  background-size:contain;
}

.open{
  position:relative;
  background: url("../Images/EmptyBox.jpg");
  background-size:contain;
  animation-name: opened;
  animation-duration: .1s;
}

@keyframes opened {
  0% {top:0px;}
  25% {top: -3px;}
  50% {top:-6px;}
  75% {top:-3px;}
  100% {top:0px}
}

#popup{
  position: absolute;
  top:0;
  left:0;
  background: black;
  color: white;
  border:1px solid black;
  font-size:30px;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

#mario{
  position:absolute;
  top:60%;
  left:-100px;
  width:100px;
  height:100px;
  background:url("../Images/small-mario.jpg");
  background-repeat:no-repeat;
  background-position:center;
  animation-name: running, movement;
  animation-duration: .3s, 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite, infinite;
  animation-fill-mode: forwards;
}

@keyframes running{
  0% {background:url("../Images/small-mario-running1.jpg");
  background-repeat:no-repeat;
  background-position:center;}
  50% {background:url("../Images/small-mario-running2.jpg");
  background-repeat:no-repeat;
  background-position:center;}
  100% {background:url("../Images/small-mario-running1.jpg");
  background-repeat:no-repeat;
  background-position:center;}
}

@keyframes movement{
  0%{
    left:-100px
  }
  100%{
    left:calc(100% - 4px)
  }
}