* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-align:center;
  font-family: 'Press Start 2P', cursive;
}

body{
  height: 100vh;
}

header{
  padding: 10px 0;
  background:gray;
}

#game-status{
  margin: 0 auto;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  min-width:500px;
  width:35vw;
  margin-top:30px;

}

#game-status div{
  background:black;
  color:white;
  padding:8px 5px 8px 8px;
}

#timer{
  border:1px solid black;
  border-radius:100px;
  padding:5px 4px 5px 4px;
}

#game-grid{
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  width:724px;
  height:564px;
  border: 2px solid black;
}

.square{
  display:flex;
  justify-content: center;
  align-items:center;
  height:40px;
  width:40px;
  border:1px solid black;
}

.closed{
  background: darkgray;
}

.open{
  background:rgb(235, 235, 235);
}

.square:hover{
  cursor:pointer;
  background:lightgreen;
}